.Badges__hero {
  width: 100%;
  padding: 2rem 0;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.Badges__hero > .Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.Badges__card-container {
}

.cards {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
  height: 160px;
}

.cards:hover {
  transform: scale(1.1);
  transition: 600ms all;
}

.cards h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cards h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.cards__preview {
  background-color: #1c3643;
  color: #fff;
  padding: 30px;
  width: 400px;
}

.card-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.card-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.card-info h6 {
  font-size: 10px;
  opacity: 0.6;
}

.card-info h3 {
  opacity: 0.6;
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;

  letter-spacing: 1px;
}
